.sun-and-moon {
  min-width: 100%;
  background-color: #151843;
}

/* .dark .sun-and-moon {
  min-width: 100%;
  background-color: #151843;
} */

.sun-and-moon-wrapper {
  position: relative;
  height: 100%;
  margin: 0 auto;
  margin-top: calc(40vh - 200px);
}

.day_background {
  position: absolute;
  top: 100px;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: lightblue;
  transition: all 1s ease;
  transform: scale(30);
}

.dark .day_background {
  transform: none;
}

.day_background:before {
  top: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  content: '';
  background-color: rgba(173, 216, 230, 0.1);
}

/* -------------------------------------------------------------------------- */
/*                                   PLANET                                   */
/* -------------------------------------------------------------------------- */

.planet {
  display: block;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: solid 10px;
  border-radius: 50%;
  background-color: #ffdb01;
  box-shadow:
    inset -40px 0px 0px #ff8603,
    inset 20px 0px 0px #ffffff,
    inset -50px 0px 0px 20px #ffd201,
    0px 0px 0px 20px rgba(255, 210, 1, 0.2),
    0px 0px 0px 40px rgba(255, 210, 1, 0.1),
    0px 0px 0px 60px rgba(255, 210, 1, 0.05);
  transition: all 0.2s ease-in;
  transform: scale(0.7);
}
.dark .planet {
  background-color: #ebf3fe;
  box-shadow:
    inset -40px 0px 0px #d8e8f7,
    inset 20px 0px 0px #ffffff,
    inset -50px 0px 0px 20px #e2eefa,
    0px 0px 0px 20px rgba(255, 255, 255, 0.05),
    0px 0px 0px 40px rgba(255, 255, 255, 0.025),
    0px 0px 0px 60px rgba(255, 255, 255, 0.0125);
}
.planet:after {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  content: '';
  background-color: #ffd201;
  box-shadow:
    40px -20px 0px -10px #ffd201,
    40px 10px 0px -15px #ffd201;
}
.dark .planet:after {
  background-color: #d8e8f7;
  box-shadow:
    40px -20px 0px -10px #d8e8f7,
    40px 10px 0px -15px #d8e8f7;
}
.face {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 100px;
}

/* -------------------------------------------------------------------------- */
/*                                SLEEP BUBBLES                               */
/* -------------------------------------------------------------------------- */

.sleep-bubbles {
  position: absolute;
  margin: 0 auto;
}
.zzz1,
.zzz2,
.zzz3 {
  opacity: 1;
  position: absolute;
  color: white;
  font-size: 36px;
  font-family: 'Shadows Into Light', cursive;
  animation-name: zzz-awake;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.dark .zzz1,
.dark .zzz2,
.dark .zzz3 {
  opacity: 0;
  right: auto;
  animation-name: zzz-sleep;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
}
.zzz1:after,
.zzz2:after,
.zzz3:after {
  content: '!';
}
.dark .zzz1:after,
.dark .zzz2:after,
.dark .zzz3:after {
  content: 'z';
}
.dark .zzz1 {
  animation-delay: 0s;
}
.zzz2 {
  top: 3%;
  right: 15%;
  animation-delay: 0.2s;
}
.dark .zzz2 {
  animation-delay: 1.2s;
}
.zzz3 {
  top: 6%;
  right: 10%;
  animation-delay: 0.4s;
}
.dark .zzz3 {
  animation-delay: 2.4s;
}

@keyframes zzz-sleep {
  0% {
    opacity: 0;
    transform: translate(0px, 0px) scale(1, 1);
  }
  25% {
    transform: translate(-5px, -10px) scale(1.1, 1.1);
  }
  50% {
    opacity: 1;
    transform: translate(8px, -20px) scale(0.9, 0.9);
  }
  75% {
    transform: translate(-15px, -30px) scale(1.1, 1.1);
  }
  100% {
    opacity: 0;
    transform: translate(15px, -40px) scale(0.9, 0.9);
  }
}

@keyframes zzz-awake {
  0% {
    transform: translate(0px, 0px) scale(1, 1) rotate(0deg);
  }

  100% {
    opacity: 0;
    transform: translate(-15px, -30px) scale(2, 2) rotate(10deg);
  }
}

/* -------------------------------------------------------------------------- */
/*                                    MOUTH                                   */
/* -------------------------------------------------------------------------- */

.mouth {
  display: block;
  position: relative;
  float: left;
  width: 15px;
  height: 15px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 0px;
  border: 6px solid #151843;
  border-top: 0;
  border-radius: 0px 0px 50% 50%;
  background-color: transparent;
  animation-name: none;
}

.dark .mouth {
  width: 25px;
  height: 25px;
  margin-left: 2px;
  border: none;
  border-top: 0;
  border-radius: 50%;
  background-color: #151843;
  animation-name: mouth-sleep;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.mouth:after,
.mouth:before {
  display: block;
  position: absolute;
  top: -3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  content: '';
  background-color: #151843;
}

.dark .mouth:after,
.dark .mouth:before {
  width: auto;
  height: auto;
}

.mouth:after {
  left: -6px;
}
.mouth:before {
  left: 3px;
}

@keyframes mouth-sleep {
  0% {
    transform: scale(1, 1);
  }
  35% {
    transform: scale(0.7, 0.7);
  }
  40% {
    transform: scale(0.7, 0.7);
  }
  75% {
    transform: scale(1, 1);
  }
}

/* -------------------------------------------------------------------------- */
/*                                     EYE                                    */
/* -------------------------------------------------------------------------- */

.eye {
  display: block;
  position: relative;
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  overflow: hidden;
  animation-name: eye-blink;
  animation-duration: 10s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.eye-in {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color: #151843;
  transform: scale(1, 1) !important;
}

.dark .eye {
  margin-right: 8px;
  overflow: auto;
  animation-name: none;
}
.dark .eye-in {
  top: 5px;
  left: -1px;
  width: 15px;
  height: 8px;
  border: 5px solid #151843;
  border-top: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: transparent;
  transform: none;
}

@keyframes eye-blink {
  0% {
    transform: scale(1, 1);
  }
  2% {
    transform: scale(1, 0);
  }
  4% {
    transform: scale(1, 1);
  }
}

/* -------------------------------------------------------------------------- */
/*                                   CLOUDS                                   */
/* -------------------------------------------------------------------------- */

.cloud {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.5s ease-in-out;
  transform-origin: 50% 50%;
  z-index: 500;
}
.dark .cloud {
  transition: all 0.5s ease;
  opacity: 0;
}
.dark .clouds {
  transition: all 0.5s ease;
  transform: scale(1.05);
}
.cloud:before {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  content: '';
  background-color: white;
  transition: all 0.3s ease-in-out;
  animation-name: none;
  transform: none;
}

.cloud:after {
  position: absolute;
  left: 150%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  content: '';
  background-color: white;
  box-shadow:
    -50px -25px 0px 10px white,
    -10px -25px 0px -5px white,
    inset -7px 0px 0px 3px #ebf3fe;
  transition: all 0.3s ease-in-out;
  animation-name: none;
  transform: none;
}
.cloud:nth-child(1) {
  margin: 50px 0 0 -150px;
  animation-name: float;
  animation-duration: 85s;
}
.cloud:nth-child(2) {
  margin: 140px 0 0 50px;
  animation-name: float;
  animation-duration: 78s;
}
.cloud:nth-child(3) {
  margin: 220px 0 0 0;
  animation-name: float;
  animation-duration: 72s;
}
.cloud:nth-child(4) {
  margin: 50px 0 0 -150px;
  animation-name: float;
  animation-duration: 76s;
}
.cloud:nth-child(5) {
  margin: 250px 0 0 0;
  animation-name: float2;
  animation-duration: 74s;
}
.cloud:nth-child(6) {
  margin: 100px 0 0 50px;
  animation-name: float2;
  animation-duration: 74s;
}
.cloud:nth-child(7) {
  margin: 350px 0 0 150px;
  animation-name: float2;
  animation-duration: 74s;
}
.cloud:nth-child(8) {
  margin: 150px 0 0 -100px;
  animation-name: float2;
  animation-duration: 74s;
}

@keyframes float {
  0% {
    left: 30%;
    opacity: 1;
  }
  66% {
    opacity: 1;
    left: 110%;
  }
  67% {
    opacity: 0;
  }
  68% {
    opacity: 0;
    left: -10%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    left: 30%;
  }
}

@keyframes float2 {
  0% {
    opacity: 1;
    left: 70%;
  }
  26% {
    opacity: 1;
    left: 110%;
  }
  27% {
    opacity: 0;
  }
  28% {
    opacity: 0;
    left: -10%;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    left: 70%;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    STARS                                   */
/* -------------------------------------------------------------------------- */

.star {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  transform-origin: 50% 50%;
}
.dark .star {
  width: 20px;
  height: 20px;
  animation-name: star3;
  animation-duration: 20s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  transition: all 1s ease;
}
.star:before {
  position: absolute;
  content: '';
  background-color: white;
  transition: all 0.3s ease-out;
}
.dark .star:before {
  top: auto;
  left: auto;
  width: 20px;
  height: 20px;
  border-radius: 20%;
  animation-name: star1;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  transform: scale(1, 2) rotate(45deg);
}
.star:after {
  position: absolute;
  content: '';
  background-color: white;
  transition: all 0.3s ease-out;
}
.dark .star:after {
  left: auto;
  width: 20px;
  height: 20px;
  border-radius: 20%;
  box-shadow: none;
  animation-name: star2;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  transform: scale(2, 1) rotate(45deg);
}
.star:nth-child(1) {
  margin-top: -200px;
  margin-left: 80px;
}
.star:nth-child(2) {
  margin-top: -30px;
  margin-left: 90px;
}
.star:nth-child(3) {
  margin-top: -50px;
  margin-left: 300px;
}
.star:nth-child(4) {
  margin-top: -350px;
  margin-left: 300px;
}
.star:nth-child(5) {
  margin-top: -250px;
  margin-left: 500px;
}

@keyframes star1 {
  0% {
    transform: scale(1, 2) rotate(45deg);
  }
  50% {
    transform: scale(1, 1) rotate(45deg);
  }
  100% {
    transform: scale(1, 2) rotate(45deg);
  }
}

@keyframes star2 {
  0% {
    transform: scale(2, 1) rotate(45deg);
  }
  50% {
    transform: scale(1, 1) rotate(45deg);
  }
  100% {
    transform: scale(2, 1) rotate(45deg);
  }
}

@keyframes star3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
